body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  border: 1px solid #aa0000
}
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  border-bottom: 1px solid #E7E9FC;
  background: #FFF;
}

.title-container{
  display: flex;
  
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.title-logo {
  color:#4D5AE5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  
}

.title-logo-part {
  color:#2E2F42;
}

.menu-list {
  display: flex;
  gap: 40px;
  padding: 24px;
}
.menu-item {
}

.menu-link {
  color: #2E2F42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-link:hover {
  color: #404BBF;
}

.menu-link:focus {
  color: #404BBF;
}

.contact {
  padding-top: 24px;
  }
.contact-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact-item {
  
}

.contact-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  
}

.contact-link:hover{
  color: #404BBF;
}

.contact-link:focus{
  color: #404BBF;
}

.main-page-container {
  padding-top: 188px;
  padding-bottom: 188px;
  }

.main-page {
  background:#2E2F42;
}

.main-page-title {
  color: #FFF;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;

}

.main-page-btn {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4D5AE5;
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  margin: 0 auto;
}

.main-page-btn:hover { 
  background-color: #404BBF;
}

.main-page-btn:focus {
  background-color: #404BBF;
}

.page-skils {
  background: #FFF;
}

.page-skils-container{
padding-top: 120px;
padding-bottom: 120px;
margin: 0 auto;

}

.page-skils-list {
  display: flex;
  gap: 24px;
}
.page-skils-item {
}

.skils-item-title {
  color: #2E2F42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.skils-item-descr {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

.page-team {
  background: #F4F4FD;
}

.page-team-title {
  color: #2E2F42;
  font-family: "Roboto";
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.page-team-list {
}

.page-team-item {
  background: #FFF;
}

.page-team-name {
  color: #2E2F42;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.page-team-descr {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio {
  background: #FFF;
  text-align: center;
}

.portfolio-title {
  color: #2E2F42;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-list {
}
.portfolio-item {
}

.portfolio-item-title {
  color: #2E2F42;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item-descr {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background: #2E2F42;
}

.footer-logo-part{
  color: #F4F4FD;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer-descr {
  color: #F4F4FD;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}